---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/countryInfoJSON?country=pl&username=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"geonames":[{"continent":"EU","capital":"Warsaw","languages":"pl","geonameId":798544,"south":49.006363,"isoAlpha3":"POL","north":54.839138,"fipsCode":"PL","population":"38500000","east":24.150749,"isoNumeric":"616","areaInSqKm":"312685.0","countryCode":"PL","west":14.123,"countryName":"Poland","continentName":"Europe","currencyCode":"PLN"}]}'
  recorded_at: Fri, 15 Jan 2016 08:30:52 GMT
recorded_with: VCR 2.9.3
