---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?country=si&maxRows=1&q=Celje&style=short&username=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":50,"geonames":[{"lng":"15.26044","geonameId":3202781,"countryCode":"SI","name":"Celje","toponymName":"Celje","lat":"46.23092","fcl":"P","fcode":"PPLA"}]}'
  recorded_at: Fri, 09 Oct 2015 08:52:38 GMT
recorded_with: VCR 2.9.3
