---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.01&lng=10.2&username=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2016-04-29 06:05","lng":10.2,"countryCode":"AT","gmtOffset":1,"rawOffset":1,"sunset":"2016-04-29
        20:27","timezoneId":"Europe/Vienna","dstOffset":2,"countryName":"Austria","time":"2016-04-29
        11:34","lat":47.01}'
  recorded_at: Fri, 29 Apr 2016 09:34:24 GMT
recorded_with: VCR 2.9.3
